#hero{


    #hero-image{
        align-items: center;
        background-image: url("../img/hero/llamas_hero.jpg");
        background-position: center;
        background-size: cover;
        height: 600px;

        @include lg {
            height: 900px;
        }

        @include xl {
            height: 1000px;
        }
    }

    #hero-content {

        display: grid;
        grid-template-areas: " . hero-content . ";
        grid-template-columns: 16px auto 16px;
        // margin-top: 13px;

        @include lg {
            grid-template-columns: auto 1000px auto;
        }
    
        @include xl {
            grid-template-columns: auto 1300px auto;
        }

        >div{
            grid-area: hero-content;

            display: grid;
            grid-template-columns: 20% auto;
            grid-template-areas: "h1 h2";


            h1{
               grid-area: h1;
               color: $brown;
               font-size: rem-calc(190);
            }

            h2{
                grid-area: h2;
                color: $caramel;
            }
        }

    }
}