#personality {

    margin: 64px 0;

    @include lg {
        display: grid;
        grid-template-columns: auto 1000px auto;
        grid-template-areas: ". personality .";
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }

    >div {

        grid-area: personality;



        #hero-content {

            display: grid;
            grid-template-areas: " . hero-content . ";
            grid-template-columns: 40px auto 40px;
            margin-bottom: 64px;



            >div {
                grid-area: hero-content;

                display: grid;
                grid-template-columns: 40% auto;
                grid-template-areas: "h1 h2";


                @include md {
                    grid-template-columns: 30% auto;
                }


                h1 {
                    grid-area: h1;
                    color: $brown;
                    font-size: rem-calc(200);
                    display: flex;
                    justify-content: center;

                    @include md {
                        //    font-size: rem-calc(190);
                        justify-content: flex-end;
                        align-items: center;
                        margin-right: 50px;
                    }

                    //    @include lg{
                    //        font-size: rem-calc(180);
                    //    }
                }

                h2 {
                    grid-area: h2;
                    color: $caramel;
                    font-size: rem-calc(50);

                    @include md {
                        font-size: rem-calc(70);

                    }

                    @include lg {
                        font-size: rem-calc(85);
                    }

                    @include xl {
                        font-size: rem-calc(100);
                    }
                }
            }

        }

        #personality-content {

            display: grid;
            grid-template-columns: 60px auto 60px;
            grid-template-areas: ". p-content .";

            @include md {
                grid-template-columns: auto 600px auto;
            }

            @include lg {
                grid-template-columns: auto 800px auto;
            }


            >div {
                grid-area: p-content;
                display: grid;
                grid-template-columns: 30% auto;
                grid-template-areas: "h1 h2"
                    "h1 h2"
                    "p1 p1"
                    "p2 p2";

                @include md {
                    grid-template-columns: 20% auto;
                    grid-template-areas: "h1 h2"
                        "h1 p1"
                        ". p1"
                        ". p2";
                }


                h1 {
                    grid-area: h1;

                }


                .circle {
                    border-radius: 50%;
                    background-color: $caramel;
                    width: 80px;
                    height: 80px;
                    color: $tan;
                    font-size: rem-calc(50);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }


                h2 {
                    grid-area: h2;
                    color: $caramel;
                    font-size: rem-calc(35);

                    @include md {
                        font-size: rem-calc(40);
                    }
                }

                p1 {
                    grid-area: p1;
                    color: $brown;
                    font-size: rem-calc(18);
                    margin-top: 20px;

                    @include md {
                        font-size: rem-calc(24);
                    }

                    @include lg{
                        font-size: rem-calc(30);
                    }
                }

                p2 {
                    grid-area: p2;
                    color: $brown;
                    font-size: rem-calc(18);
                    margin-top: 20px;

                    @include md {
                        font-size: rem-calc(24);
                    }

                    @include lg{
                        font-size: rem-calc(30);
                    }
                }
            }
        }
    }


}