#stickout{

 display: grid;
 grid-template-columns: 30px auto 30px;
 grid-template-areas: ". stickout .";
 background-color: $brown;
 padding: 64px 0;
 height: 500px;

    >div{
  grid-area: stickout;

  #stickout-content{


      >div{
          display: grid;
          grid-template-columns: 25% auto;
          grid-template-areas: "h1 h2"
                               "h1 p";


        @include md{
            grid-template-columns: 10% 40% auto;
            grid-template-areas: "h1 h2 s-image"
                                  "h1 p s-image";
        }

        h1{
            grid-area: h1;
            margin-top: -10px;
        }

        .circle {
            border-radius: 50%;
            background-color: $tan;
            width: 80px;
            height: 80px;
            color: $brown;
            font-size: rem-calc(50);
            display: flex;
            align-items: center;
            justify-content: center;

        }

        h2{
            grid-area: h2;
            font-size: rem-calc(35);
            color: $tan;
        }

        p{
            grid-area: p;
            color: $tan;
            font-size: rem-calc(18);

            @include md{
                font-size: rem-calc(24);
            }

            @include lg{
                font-size: rem-calc(30);
            }
        }

        #stickout-image{
            @include md{
                grid-area: s-image;
            }
        }
      }
  }
    }
}