/* =============
    Header
============= */
#header {

    background-color: $tan;
    top: 0;
    width: 100%;
    left: 0;
    position: fixed;

    @include lg{
        padding: 10px 0;
    }

    

    >div {

        display: grid;
        grid-area: header;
        grid-template-areas: "logo burger"
            "nav nav";
        grid-template-columns: auto 20%;


        @include lg {
            grid-template-columns: 30% auto;
            grid-template-areas: "logo nav";

        }

        #logo-container {

            grid-area: logo;
            align-items: center;
            display: flex;
            justify-content: flex-start;
            padding: 15px;

            a:link,
            a:visited {
                color: $brown;
                font-size: rem-calc(30);
                font-family: 'Fredoka One', cursive;
                transition: 0.25s;

                &:hover {
                    color: $caramel;
                }


            }
        }

        aside {

            display: flex;
            justify-content: flex-end;
            align-items: center;
            // width: 100%;  
            padding: 15px;
            // padding-right: 30px;


            @include lg {
                display: none !important;
            }

            #burger-container {



                cursor: pointer;
                position: relative;
                grid-area: burger;
                height: 50px;
                width: 50px;





                #burger {
                    position: absolute;
                    z-index: 1000;
                    height: 50px;
                    width: 50px;
                }


            }
        }



        #nav-container {
            grid-area: nav;
            background-color: $tan;
            width: 100vw;
            height: 100vh;
            z-index: 800;
            // text-align: center;
            position: fixed;

            @include lg {
                display: block !important;
                background-color: transparent;
                position: relative;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }


        }
    }


}